@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #202020;
}
body {
    overflow-x: hidden;
}
a {
    margin: auto;
}

#photo {
    height: 100%;
    width: 100%;
}
#foto {
    margin: 30px auto;
    display: flex;
}

#circulo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: grid;
    background-color: transparent;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 20px white;
    border-radius: 50%;
}
.shadow_efect {
    animation: shadow linear infinite 10s;
}
@keyframes shadow {
    0% {
        box-shadow: 0px 0px 20px white;
    }
    25% {
        box-shadow: 0px 0px 30px #FFC700;
    }
    50% {
        box-shadow: 0px 0px 30px #0500FF;
    }
    75% {
        box-shadow: 0px 0px 30px #05FF00;
    }
}

#musica i {
    margin: 0 49%;
    cursor: pointer;
    color: white;
    font-size: 25px;
}


#musica i:hover {
    color: red;
    transition: 0.3s;
}

.rodar {
    animation: rodar linear infinite 8s;
}

@keyframes rodar {
    100% {
        transform: rotate(360deg);
    }
}
h1 {
    text-align: center;
    color: #FFC700;
    font-size: 40px;

}

p {
    text-align: center;
    color: white;
    font-size: 22px;
}
button {
    /* margin: 10px auto; */
    /* display: flex; */
    border-radius: 50px;
    border: solid #ffffff;
    padding: 35%;
    color: #ffffff;
    background-image: linear-gradient(45deg, #05FF00, #0500FF);
    box-shadow: 0px 0px 5px #FFC700;
}
button:hover {
    transform: translateY(-7px);
    transition: 0.5s;
    cursor: pointer;
}
#div {
    /* padding: 30px; */
    /* background-color: #FFC700; */
    border-radius: 20px;
    /* box-shadow: 0px 0px 15px white; */
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
#div a {
    margin: 0px 25px;
}
@media screen and (max-width: 760px) {
    #div a {
        margin: 0px 2%;
    }
    #div button {
        padding: 6px;
    }
}

#div i {
    font-size: 35px;
}
#redes_sociais {
    text-align: center;
    color: #FFC700;
    font-size: 25px;
    margin-bottom: 5px;
}

#web_atom {
    display: flex;
}

#web_atom img {
    margin: auto;
}