@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    outline: none;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
html {
    overflow-x: hidden;
    width: 100%;
    background-color: #ffb000;
}
body {
    overflow-x: hidden;
}
a {
    margin: auto;
}
#nome {
    width: 350px;
    margin: auto;
    display: flex;
}

#photo {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

#agulha, #vitrola, #foto {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#foto {
    opacity: 0;
}

#icon {
    margin-top: 330px;
    display: flex;
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    #foto {
        width: 180px;
    }
    #agulha {
        width: 300px;
    }
    #vitrola {
        width: 300px;
    }
    #icon {
        margin-top: 220px;
    }
}


#icon i {
    margin: 0 auto;
    cursor: pointer;
    color: #202020;
    font-size: 25px;
}
#icon i:hover {
    color: red;
    transition: 0.3s;
}

.rodar {
    animation: rodar linear infinite 8s;
}
.tocar {
    animation: mexer_agulha alternate-reverse infinite ease-in-out 0.2s;
}

@keyframes rodar {
    0% {
        opacity: 1;

    }
    100% {
        transform: rotate(360deg);
        opacity: 1;

    }
}
@keyframes mexer_agulha {
    50% {
        transform: rotate(0.5deg);
        
    }
    100% {
        transform: rotate(-0.5deg);

    }
}

p {
    text-align: center;
    color: #202020;
    font-size: 22px;
}
button {
    border-radius: 50px;
    border: solid black;
    padding: 35%;
    color: #ffffff;
    background-color: transparent;
}
button:hover {
    transform: translateY(-7px);
    transition: 0.5s;
    cursor: pointer;
}
#papel {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    left: 30px;
    right: 0;
}
#div {
    position: absolute;
    border-radius: 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#div a {
    margin: 0px 25px;
}
#div i {
    color: black;
}
@media screen and (max-width: 450px) {
    #nome {
        width: 250px;
    }
    #div a {
        margin: 0px 2%;
    }
    #div button {
        padding: 6px;
    }
    #papel {
        width: 310px;
        left: 5px;
        margin-top: 30px;

    }
}
@media screen and (max-width: 300px) {
    #nome {
        width: 200px;
    }

    #papel {
        width: 270px;
        left: 5px;
        margin-top: 30px;
    }
    #div button {
        padding: 4px;
    }
    #foto {
        width: 162px;
    }
    #agulha {
        width: 270px;
    }
    #vitrola {
        width: 270px;
    }
}

#div i {
    font-size: 35px;
}
#redes_sociais {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 35px;
    margin-top: 25px;
}

#web_atom {
    display: flex;
}

#web_atom img {
    margin: auto;
}
